[color]
	ui = true
[core]
	editor = vim
	filemode = false
	autocrlf = false
[merge]
	tool = vimdiff
[alias]
	st = status
	ss = status -s
	co = checkout
	lg = log --graph --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold green)<%an>%Creset' --abbrev-commit --date=relative
	ci = commit
	br = branch -a
	pushall = push --recurse-submodules=on-demand
[user]
	email = andrijpu@gmail.com
	name = andrij
[credential]
	helper = cache --timeout=360000
